@model DevBootstrapper.Models.POCO.IdentityCustomization.Country

@{
    ViewBag.Title = "Creating Country";
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
    var token = @Html.AntiForgeryToken();
    var controller = (string) ViewBag.controller;
    var viewName = "Create";
}


<h1 class="h2 gap-from-top-small">
    <span class="glyphicon glyphicon-plus-sign"></span>  
    @Html.SamePageLink(title, subtitle, false)
</h1>
<hr/>
@using (Html.BeginForm(viewName, controller, FormMethod.Post, new {@class = "form-horizontal Create-@ViewBag.Title", role = "form"})) {
    <div class="form-horizontal">
        @token
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" title="Back" class="btn btn-info dev-btn-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                    <div class="input-group-btn inline">
                        <button class="btn btn-success" title="Save and create a new one."><i class="glyphicon glyphicon-plus"></i> Create</button>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_SuccessMessage")


        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        @Html.EditorFor(model => model.CountryName)
        @Html.EditorFor(model => model.Capital)
        @Html.EditorFor(model => model.Alpha2Code)
        @Html.EditorFor(model => model.Alpha3Code)
        @Html.EditorFor(model => model.CallingCode)
        @Html.EditorFor(model => model.NationalityName)
        @Html.EditorFor(model => model.Region)
        @Html.EditorFor(model => model.SubRegion)
        @Html.EditorFor(model => model.Population)
        @Html.EditorFor(model => model.Area)
        @Html.EditorFor(model => model.Culture)
        @Html.EditorFor(model => model.GiniCoefficient)
        @Html.EditorFor(model => model.Relevance)
        @Html.EditorFor(model => model.LatitudeStartingPoint)
        @Html.EditorFor(model => model.LatitudeEndingPoint)
        @Html.EditorFor(model => model.RelatedTimeZoneId)
        @Html.EditorFor(model => model.IsSingleTimeZone)
        @Html.EditorFor(model => model.DisplayCountryName)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" title="Back" class="btn btn-info dev-btn-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                    <div class="input-group-btn inline">
                        <button class="btn btn-success" title="Save and create a new one."><i class="glyphicon glyphicon-plus"></i> Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("_ValidatorCommonForm", new ViewDataDictionary {
    {"token", token}
})
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}