@model Country

@{
    ViewBag.Title = "Deleting " + Html.DisplayFor(model => model.CountryName);
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
    var asking = "Are you sure you want to delete this?";
    var controller = (string) ViewBag.controller;
    var viewName = "Delete";
    var token = @Html.AntiForgeryToken();
}
<h1 class="h2 gap-from-top-small">
    <span class="glyphicon glyphicon-trash"></span>
    @Html.SamePageLink(title, subtitle, false)
</h1>
<hr/>
<h3 class="h4">@asking</h3>
<div class="form-horizontal">
@using (Html.BeginForm()) {
    @token
    <div class="form-group">
        <div class="col-md-11">
            <div class="btn-group">
                <a href="@Url.Action("Index")" title="Back" class="btn btn-info dev-btn-back"><span class="glyphicon glyphicon-chevron-left"></span> No, back</a>
                <div class="input-group-btn inline">
                    <button class="btn btn-danger" title="Remove this record permanently.."><i class="glyphicon glyphicon-remove"></i> Yes, delete permanently</button>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <a href="@Url.Action("Edit", new {id = Model.CountryID})" title="Edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </div>
    </div>
    <table class="table table-hover gap-from-top-small">
        <thead>
        <tr>
            <th>Properties</th>
            <th></th>
            <th>Values</th>
        </tr>
        </thead>
        <tbody>

        @Html.HiddenFor(model => model.CountryID)

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.CountryName)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.CountryName)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.Capital)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.Capital)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.Alpha2Code)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.Alpha2Code)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.Alpha3Code)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.Alpha3Code)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.CallingCode)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.CallingCode)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.NationalityName)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.NationalityName)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.Region)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.Region)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.SubRegion)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.SubRegion)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.Population)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.Population)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.Area)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.Area)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.Culture)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.Culture)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.GiniCoefficient)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.GiniCoefficient)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.Relevance)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.Relevance)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.LatitudeStartingPoint)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.LatitudeStartingPoint)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.LatitudeEndingPoint)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.LatitudeEndingPoint)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.RelatedTimeZoneID)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.RelatedTimeZoneID)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.IsSingleTimeZone)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.IsSingleTimeZone)
            </td>
        </tr>

        <tr>
            <td class="dev-label-property">
                @Html.DisplayNameFor(model => model.DisplayCountryName)
            </td>
            <td>:</td>
            <td class="dev-label-value">
                @Html.DisplayFor(model => model.DisplayCountryName)
            </td>
        </tr>

        </tbody>
    </table>

    <div class="form-group">
        <div class="col-md-11">
            <div class="btn-group">
                <a href="@Url.Action("Index")" title="Back" class="btn btn-info dev-btn-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                <div class="input-group-btn inline">
                    <button class="btn btn-danger" title="Remove this record permanently.."><i class="glyphicon glyphicon-remove"></i> Delete permanently</button>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <a href="@Url.Action("Edit", new {id = Model.CountryID})" title="Edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </div>
    </div>
}
</div>