@model Country

@{
    var nameOftheRecord = Html.DisplayFor(model => model.CountryName).ToString();

    ViewBag.Title = "Details of " + nameOftheRecord;
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
    var controller = (string) ViewBag.controller;
    var viewName = "Details";
}
<h1 class="h2 gap-from-top-small">
    <span class="glyphicon glyphicon-print"></span>
    @Html.SamePageLink(title, subtitle, false)
</h1>
<hr/>
<h3 class="h4">To edit the details please click on the edit button.</h3>
<div class="form-horizontal">
<div class="form-group">
    <div class="col-md-10">
        <div class="btn-group">
            <a href="@Url.Action("Index")" title="Back" class="btn btn-info dev-btn-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
            <a href="@Url.Action("Edit", new {id = Model.CountryID})" title="Edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </div>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Delete", new {id = Model.CountryID})" title="Delete @nameOftheRecord" class="btn btn-danger right"><span class="glyphicon glyphicon-remove"></span> Delete</a>
    </div>
</div>
<table class="table table-hover gap-from-top-small">
    <thead>
    <tr>
        <th>Properties</th>
        <th></th>
        <th>Values</th>
    </tr>
    </thead>
    <tbody>


    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.CountryName)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.CountryName)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.Capital)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.Capital)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.Alpha2Code)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.Alpha2Code)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.Alpha3Code)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.Alpha3Code)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.CallingCode)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.CallingCode)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.NationalityName)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.NationalityName)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.Region)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.Region)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.SubRegion)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.SubRegion)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.Population)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.Population)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.Area)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.Area)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.Culture)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.Culture)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.GiniCoefficient)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.GiniCoefficient)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.Relevance)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.Relevance)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.LatitudeStartingPoint)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.LatitudeStartingPoint)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.LatitudeEndingPoint)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.LatitudeEndingPoint)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.RelatedTimeZoneID)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.RelatedTimeZoneID)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.IsSingleTimeZone)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.IsSingleTimeZone)
        </td>
    </tr>

    <tr>
        <td class="dev-label-property">
            @Html.DisplayNameFor(model => model.DisplayCountryName)
        </td>
        <td>:</td>
        <td class="dev-label-value">
            @Html.DisplayFor(model => model.DisplayCountryName)
        </td>
    </tr>


    </tbody>
</table>
<div class="form-group">
    <div class="col-md-10">
        <div class="btn-group">
            <a href="@Url.Action("Index")" title="Back" class="btn btn-info dev-btn-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
            <a href="@Url.Action("Edit", new {id = Model.CountryID})" title="Edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </div>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Delete", new {id = Model.CountryID})" title="Delete @nameOftheRecord" class="btn btn-danger right"><span class="glyphicon glyphicon-remove"></span> Delete</a>
    </div>
</div>
</div>