<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="@AppConfig.Setting.GoogleMetaTag" />
    <meta name="author" content="@AppVar.Setting.DeveloperName">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/styles")
    @if (ViewBag.Meta != null) {
        <meta name="description" content="@ViewBag.Meta" />
    }
    @if (ViewBag.Keywords != null) {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="@ViewBag.pageClass">
    @Html.Partial("_BrowserUpdate")
    @Html.Partial("_AdditionalFields")
    @Html.Partial("_NavBar")
    @RenderSection("featured", false)
    <div class="container body-content">
        @RenderBody()
        @RenderSection("featuredBody", false)
        @Html.Partial("_Footer")
    </div>
    @RenderSection("featuredFooter", false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>