<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@AppVar.Url/Admin" class="navbar-brand" title="@AppVar.Name - @AppVar.Subtitle"><span class="glyphicon glyphicon-wrench"></span>Admin</a>
                </li>
                @*<li>@Html.ActionLink("Roles", "Index", "Roles", new { area = "Admin" }, "")</li>
                    <li><a href="@AppVar.Url/Admin/Elmah">Elmah</a></li>
                    <li>@Html.ActionLink("Config", "Index", "Config", new { area = "Admin" }, "")</li>
                    <li>@Html.ActionLink("Menu", "Index", new { Controller ="Menu"  })</li>*@
                @Html.GetMenu("Admin")
                <li>@Html.ActionLink("Feedback", "Index", new { Controller = "Feedback" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>