@using DevBootstrapper.Models.EntityModel.POCO
@model IEnumerable<ProductOrder>

@{
    ViewBag.Title = "ProductOrder";
	string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
	string controller = (string)ViewBag.controller;
    string viewName = "Index";
    string editLinkName = "";
	/*
	bool noItemsExist = Model == null;
	if (!noItemsExist) {
		noItemsExist = Model.Count() == 0;
	}
	*/
}

<h2 class="h3 gap-from-top-small">
	<span class="glyphicon glyphicon-th-list"></span> 
	@Html.GetCurrentPageUrlAnchorTag(title, subtitle, false)
</h2>
<div class="small-bottom-gap"></div>

<p class="create-btn-p">
    <a href="@Url.Action("Create")" title="Create a new item." class="btn btn-warning create-save"><span class="glyphicon glyphicon-plus"></span> Create</a>
</p>
<table class="table table-hover bootstrap-table-do" data-toggle="table" data-toolbar="#filter-bar" data-show-filter="true" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-export="true" data-pagination="true">
	<!--<caption>@viewName</caption>-->
	<thead>
		<tr>		
			<th data-field="OrderDate">
				@Html.DisplayNameFor(model => model.OrderDate)
			</th>
			<th data-field="RequiredDate">
				@Html.DisplayNameFor(model => model.RequiredDate)
			</th>
			<th data-field="ShippedDate">
				@Html.DisplayNameFor(model => model.ShippedDate)
			</th>
			<th data-field="Freight">
				@Html.DisplayNameFor(model => model.Freight)
			</th>
			<th data-field="ShipName">
				@Html.DisplayNameFor(model => model.ShipName)
			</th>
			<th data-field="ShipAddress">
				@Html.DisplayNameFor(model => model.ShipAddress)
			</th>
			<th data-field="ShipCity">
				@Html.DisplayNameFor(model => model.ShipCity)
			</th>
			<th data-field="ShipRegion">
				@Html.DisplayNameFor(model => model.ShipRegion)
			</th>
			<th data-field="ShipPostalCode">
				@Html.DisplayNameFor(model => model.ShipPostalCode)
			</th>
			<th data-field="ShipCountry">
				@Html.DisplayNameFor(model => model.ShipCountry)
			</th>
			<th data-field="Customer.CompanyName">
				@Html.DisplayNameFor(model => model.Customer.CompanyName)
			</th>
			<th data-field="Employee.LastName">
				@Html.DisplayNameFor(model => model.Employee.LastName)
			</th>
			<th data-field="Shipper.CompanyName">
				@Html.DisplayNameFor(model => model.Shipper.CompanyName)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.OrderDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RequiredDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ShippedDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Freight)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ShipName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ShipAddress)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ShipCity)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ShipRegion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ShipPostalCode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ShipCountry)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Customer.CompanyName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Employee.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Shipper.CompanyName)
				</td>
				<td>			
					<a href="@Url.Action("Details", new { id=item.ProductOrderID })" title="Details of @editLinkName." class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-print"></span> Details</a>
					<a href="@Url.Action("Delete", new { id=item.ProductOrderID })" title="Delete @editLinkName" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Delete</a>            
				</td>
			</tr>
		}
	</tbody>

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
