@using DevBootstrapper.Models.EntityModel.POCO
@model Article

@{
	string nameOftheRecord = Html.DisplayFor(model => model.Title).ToString();

    ViewBag.Title = "Details of " + nameOftheRecord;
	string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
	string controller = (string)ViewBag.controller;
	string viewName = "Details";

}
<h1 class="h2 gap-from-top-small">
	<span class="glyphicon glyphicon-print"></span>
	@Html.SamePageLink(title, subtitle, false)
</h1>
<hr />
<h3 class="h4">To edit the details please click on the edit button.</h3>   
<div class="form-horizontal">		
	<div class="form-group">
		<div class="col-md-10">
			<div class="btn-group">
				<a href="@Url.Action("Index")" title="Back" class="btn btn-info dev-btn-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
				<a href="@Url.Action("Edit", new { id = Model.ArticleID })" title="Edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
			</div>
		</div>	
		<div class="col-md-2">
			<a href="@Url.Action("Delete", new { id = Model.ArticleID })" title="Delete @nameOftheRecord" class="btn btn-danger right"><span class="glyphicon glyphicon-remove"></span> Delete</a>			
		</div>	
	</div>
	<table class="table table-hover gap-from-top-small">
		<thead>
            <tr>
                <th>Properties</th>
                <th></th>
                <th>Values</th>
            </tr>
        </thead>
		<tbody>			
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.ArticleState.State)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.ArticleState.State)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.Category.CategoryDisplay)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.Category.CategoryDisplay)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.Language.LanguageID)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.Language.LanguageID)
					</td>
				</tr>	
	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.Title)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.Title)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.Description)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.Description)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.Page1)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.Page1)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.Page2)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.Page2)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.Page3)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.Page3)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.Page4)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.Page4)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.FeatureMediaID)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.FeatureMediaID)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.PublishDate)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.PublishDate)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.ModifiedDate)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.ModifiedDate)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.WrittenByUserID)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.WrittenByUserID)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.LastModifiedByUserID)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.LastModifiedByUserID)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.MetaDescription1)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.MetaDescription1)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.MetaDescription2)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.MetaDescription2)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.VerifiedByUserID)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.VerifiedByUserID)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.OriginalArticleID)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.OriginalArticleID)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.TotalViewed)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.TotalViewed)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.LastModifiedCount)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.LastModifiedCount)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.ThumbsUp)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.ThumbsUp)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.NextPageArticleID)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.NextPageArticleID)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.IsVerified)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.IsVerified)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.IsProblematic)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.IsProblematic)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.IsSendByUser)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.IsSendByUser)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.IsInDefaultLanguage)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.IsInDefaultLanguage)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.IsCommentsEnabled)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.IsCommentsEnabled)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.IsReportedFromAnySource)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.IsReportedFromAnySource)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.IsReportActionSolved)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.IsReportActionSolved)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.IsAnyDraftExist)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.IsAnyDraftExist)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.IsPreviousPageExist)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.IsPreviousPageExist)
					</td>
				</tr>	
			
				<tr>
					<td class="dev-label-property">
						@Html.DisplayNameFor(model => model.IsNextPageExist)
					</td>
					<td>:</td>
					<td class="dev-label-value">
						@Html.DisplayFor(model => model.IsNextPageExist)
					</td>
				</tr>	
		
			
		</tbody>
    </table> 
	<div class="form-group">
		<div class="col-md-10">
			<div class="btn-group">
				<a href="@Url.Action("Index")" title="Back" class="btn btn-info dev-btn-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
				<a href="@Url.Action("Edit", new { id = Model.ArticleID })" title="Edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
			</div>
		</div>	
		<div class="col-md-2">
			<a href="@Url.Action("Delete", new { id = Model.ArticleID })" title="Delete @nameOftheRecord" class="btn btn-danger right"><span class="glyphicon glyphicon-remove"></span> Delete</a>			
		</div>	
	</div>
</div>
